.elem{
    border: 1px solid black;
    border-radius: 5px;
    cursor: grab;
}

.elem:hover{
    background-color: bisque;
}

.jatekter{
    width: 160px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

p{
    text-align: center;
}